NetworkDefense/Game/Game/Service References/DBCommService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" />
  <xs:element name="GetUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="GetUserDetailsResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPasswordResetEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPasswordResetEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendPasswordResetEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCharacterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="theUser" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCharacterDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="LoadCharacterDataResult" nillable="true" type="q3:Character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewCharacterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="newCharacterData" nillable="true" type="q4:Character" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="theUser" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewCharacterDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveNewCharacterDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExistingCharacterData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="characterData" nillable="true" type="q6:Character" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="theUser" nillable="true" type="q7:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExistingCharacterDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveExistingCharacterDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMinigameScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="userData" nillable="true" type="q8:User" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="minigameScore" nillable="true" type="q9:MinigameScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMinigameScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMinigameScoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMinigameHighScores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="userData" nillable="true" type="q10:User" />
        <xs:element minOccurs="0" name="minigameID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMinigameHighScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="GetMinigameHighScoresResult" nillable="true" type="q11:ArrayOfMinigameScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadQuestData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="userData" nillable="true" type="q12:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadQuestDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="LoadQuestDataResult" nillable="true" type="q13:ArrayOfQuest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQuestAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="userData" nillable="true" type="q14:User" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="characterData" nillable="true" type="q15:Character" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="theQuest" nillable="true" type="q16:Quest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQuestAssociationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveQuestAssociationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="userData" nillable="true" type="q17:User" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="characterData" nillable="true" type="q18:Character" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="theQuest" nillable="true" type="q19:Quest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuestAssociationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateQuestAssociationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLectureAttended">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="userData" nillable="true" type="q20:User" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="characterData" nillable="true" type="q21:Character" />
        <xs:element minOccurs="0" name="minigameID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLectureAttendedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLectureAttendedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLectureAttended">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="userData" nillable="true" type="q22:User" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="characterData" nillable="true" type="q23:Character" />
        <xs:element minOccurs="0" name="minigameID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLectureAttendedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetLectureAttendedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCharacter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DBCommService.DataContracts" minOccurs="0" name="userData" nillable="true" type="q24:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCharacterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCharacterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>